.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 2% 20%;
}

.nav__img{
  width: 5vh;
}

.nav__button{
  flex: auto;
  margin: 0 12px;
  background-color: transparent;
  border: none;
  color: rgb(125, 126, 125);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.nav__button:hover{
  color: aqua;
  font-size: 17px;
}

.nav__login-button{
  background-color: transparent;
  border: none;
  color: rgb(50, 134, 238);
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.nav__login-button:hover{
  color: aqua;
  font-size: 17px;
}

.card-container{
  max-width: 1500px;
  margin: 0 auto;
}

.filtered-news-card{
  display: inline-block;
  width: 100%;
  max-width: 450px;
  height: 100%;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
  background: #fff;
}

.filtered-news-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.3);
}

.filtered-news-card__category{
  font-size: 15px;
  text-transform: uppercase;
  color: aqua;
}

.filtered-news-card__image{
  max-width: 100%;
}

.filtered-news-card__body{
  padding: 20px;
}

.filtered-news-card__title{
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.filtered-news-card__author{
  font-size: 15px;
  color: rgb(125, 126, 125);
}

.filtered-news-card__description{
  margin-bottom: 0;
}





